@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #dadada;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    height: 100vh;
}

.container {
    background-color: white;
    max-width: 600px;
    width: 100%;
    height: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
}

.search {
    padding: 20px;
}

.search-input {
    width: 80%;
    padding: 5px;
}

input:focus {
    border-color: rgb(255, 124, 77);
    outline: none;
}

.search button {
    padding: 5px;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.search button:hover{
     background-color: rgb(249, 108, 57);
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: white;
}

.recipe {
    background-color: white;
    padding: 15px;
    border-radius: 9px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.recipe:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.recipe img {

    width: 100%;
    padding: 10px;
}

.recipe h3 {
    font-size: 20px;
}

.recipe button {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(249, 108, 57);
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.recipe button:hover{
    background-color: orangered;
    cursor: pointer;
}

.recipe a {
    text-decoration: none;
    color: white;


}